<section class="section summary-section">
  <h2 class="section-title">
    Bio for TopTal
    <br>
    <small><a href="https://www.toptal.com/data-analysis">Toptal Data Analysis page</a></small>
  </h2>

  <div class="summary">
    <p>
    Juan is a Python and Ruby programmer expert in data tidying, engineering, modeling and visualization, with 10 years of experience in software development and 5 years in academia. He holds a PhD in Bioinformatics and a specialization in Mathematical Statistics. He’s a passionate learner that enjoys staying on top of the latest technologies and developments of his fields of interest.
    </p>

    <p>
      <b>As a programmer and analyst for a medical genomics laboratory</b>, he has successfully developed from scratch and maintained over the years an internal web application powered by Ruby on Rails, jQuery and MySQL. The app is used daily as an online inventory of samples, cases and DNA extractions, as a dashboard of lab stats, and for the generation of top of the line genetic reports that are sent to expert clinicians and are highly customizable interactively through the app.
    </p>

    <p>
      This kind of development demanded <b>constant interaction with non-technical people</b> —the lab director, the scientific director— in order to precisely define the ever changing necessities and goals of the app. <b>Top-quality communication skills were a must</b>, in order to clearly explain both the possibilities and the limitations of the software.
    </p>

    <p>
      As a single-person coding effort, this development has demanded <b>proficiency in multiple fronts</b>: as a sysadmin, as a backend and frontend developer, and as a devops technician. His <b>strict adherence to software good practices</b> have proved critical to keep the app healthy and running during +5 years of daily use and periodic updates. This in-house web app has saved the laboratory thousands of dollars of monthly licenses in commercial LIMS (Laboratory Information Management System).
    </p>

    <p>
      <b>Before working in a genomics laboratory</b>, Juan also worked as a web developer, an online-traffic data analyst, and a software tester in different companies. <b>He thrives in fast paced environments and loves an interesting challenge</b>. Test-driven development, continuous integration and version control are practices that he has learnt from this past experience. 
    </p>

    <p>
      <b>As a PhD candidate</b>, he proved to be <b>highly autonomous</b> to conduct research from its inception to its conclusion. During his years in academia he developed high communication skills, both written and oral. Scientific writing demands crystal clear definition of concepts, concise descriptions of the state of the art, and organized exposition of utilized methods and achieved results. Every assertion has to be backed by evidence from previous research, with no place for ambiguity. <b>Communication of both qualitative and quantitative ideas</b> requires a fine-tuned pairing of written text and high quality charts, which Juan always develops programmatically with the aid of libraries such as matplotlib and seaborn in Python, ggplot2 in R, and d3 in Javascript. His passion for data visualization, with ideas taken from the works of Edward Tufte, Bret Victor and others, made him stand apart from peers in the field.
    </p>

    <p>
      His <b>toolkit for data engineering, modeling, analysis and visualization</b> includes Python’s state of the art libraries —numpy, pandas, matplotlib, seaborn, scipy, statsmodels, scikit-learn, Jupyter— and a plethora of specialized bioinformatics software. <b>Linux CLI proficiency</b> also makes Juan stand apart: vim, tmux, GNU parallel, awk, sed, cut, Bash, and the rest of what’s sometimes called "the Unix chainsaw".
      From his specialization in Mathematical Statistics, besides the traditional tools of the field —e.g. linear and logistic regressions, statistical tests of different kinds— the thing he cherishes the most is the <b>ability to describe any data-generating phenomenon in terms of random variables and probability distributions</b>.
    </p>

    <p>
      <b>Before his BSc in Biology</b>, he spent several years in the Philosophy and Literature Faculty of the University of Buenos Aires, both studying and researching with the aid of an undergrad scholarship. He eventually realized that he longed for the answers that only scientific knowledge can provide, so he switched to Biology and later Bioinformatics and Statistics. However, the learnings of those years in the Humanities have nourished in him a different way of looking at problems and challenges.
    </p>

    <p>
      <b>In his free time</b>, he cultivates an ever growing library of literature and philosophy classics. As of the writing of this post, his main interest in this domain lies in the French literature of the XVIIIth and XIXth centuries.
    </p>
  </div><!--//summary -->
</section><!--//section-->
