<div class="sidebar-links">
  <a href="{{ site.baseurl }}{% link pages/bio-for-toptal.md %}">
    Cover Letter for TopTal
  </a>

  <br/>

  <a href="{{ site.baseurl }}{% link pages/thesis-showcase.md %}">
    Portfolio: Thesis Showcase
  </a>

  <br/>

  <a href="/pages/lab-app">
    Portfolio: Web App for a Medical Genomics Lab
  </a>

  <br/>

  <a href="/pages/other-projects">
    Portfolio: Other Projects
  </a>

  <br/>

  <!--
  <a href="/pages/edu-work">
    Education and Work Experience
  </a>

  <br/>

  <a href="{{ site.baseurl }}/downloads/CV-Juan-Manuel-Berros.pdf" target="_blank">
    PDF Curriculum
  </a>
  -->

  <a href="https://www.toptal.com/resume/juan-manuel-berros" target="_blank">
    Online resume at Toptal <img src="/images/toptal-icon.png" width="15px;">
  </a>

  <br/>

</div>
