<div class="sidebar-links">
  <a href="{{ site.baseurl }}{% link pages/bio-for-toptal.md %}">
    Cover Letter for TopTal
  </a>

  <br/>

  <a href="{{ site.baseurl }}{% link pages/thesis-showcase.md %}">
    Portfolio: Thesis Showcase
  </a>

  <br/>

  <!--
  <a href="/pages/other-work">
    Portfolio: other work
  </a>

  <br/>

  <a href="/pages/edu-work">
    Education and Work Experience
  </a>

  <br/>
  -->

  <a href="{{ site.baseurl }}/downloads/CV-Juan-Manuel-Berros.pdf" target="_blank">
    PDF Curriculum
  </a>
</div>
