<div class="sidebar-links">

  <br/>

  <h4>Portfolio:</h4>
  <a href="{{ site.baseurl }}{% link pages/thesis-showcase.md %}">
    Thesis : Analysis of Embryo Genetic Scores
  </a>

  <br/>

  <a href="/pages/lab-app">
    Web App for a Medical Genomics Lab
  </a>

  <br/>

  <a href="/pages/other-projects#sarscov2">
    SARS-CoV-2 mutations analysis
  </a>

  <br/>
  <br/>

  <a href="{{ site.baseurl }}{% link pages/bio-for-toptal.md %}">
    Cover Letter for TopTal
  </a>

  <br/>

  <a href="https://www.toptal.com/resume/juan-manuel-berros" target="_blank">
    Online resume at Toptal <img src="/images/toptal-icon.png" width="15px;">
  </a>

  <br/>

</div>
