{% assign sidebar = site.data.data.sidebar %}
<div class="sidebar-wrapper">

  <div class="profile-container">

    {% if sidebar.name %}
    <img class="avatar" src="{{ site.baseurl }}/assets/images/{{ sidebar.avatar }}" alt="profile picture" />
    {% endif %}

    {% if sidebar.name %}
    <h1 class="name">{{ sidebar.name }}</h1>
    {% endif %}

    {% if sidebar.tagline %}
    <h3 class="tagline">{{ sidebar.tagline }}</h3>
    {% endif %}

  </div><!--//profile-container-->

  {% include contact.html %}

  <div style="padding-left: 30px">
    <a href="https://en.wikipedia.org/wiki/Glider_(Conway%27s_Life)" target="_blank">
      <img class="conway" src="{{ site.baseurl }}/assets/images/life-1.gif" alt="conways-life" />
    </a>
  </div>

  {% if sidebar.education %}
    {% include education.html %}
  {% endif %}

  <!-- 
  <div style="padding-left: 30px">
    <img class="conway" src="{{ site.baseurl }}/assets/images/life-2.gif" alt="conways-life" />
  </div>
  -->

  {% include experiences.html %}

  {% include language.html %}
  {% include interests.html %}

  {% if sidebar.about %}
    {% include about.html %}
  {% endif %}

</div><!--//sidebar-wrapper-->
